/* unidad de medida rem y em, ambas medidas son relativas */

/* unidade de medida rem = 1 rem seria igual a 16px */

/*Valor por default del html para la unidad rem y em*/
/*
html{
    font-size: 16px;
}
*/

/* unidade de medida em = toma el valor del contenedor mas proximo que tenga */


/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    background-color: #F8CED8;
}

/*estilos del header */

header{
    font-size: 40px;
}

header h1{
    text-align: center;
    font-size: 2.3rem;
    text-shadow: 2px 2px whitesmoke;
}

/*
header h2{
    font-size: 2em; 
}
*/

/* estilos del menu */

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

nav ul li{
    margin: 1rem;
    padding: 0.5rem;
    background-color: whitesmoke;
    border-radius: 2rem;
    font-weight: bold;
    box-shadow: 1px 1px black;
}


/* estilos del main */

.mainNosotros .mainP span{
    color: whitesmoke
}

.sectionNosotros{
    display: none;
}

.mainNosotros{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1.5fr 1fr 1fr 0.5fr;
    grid-template-areas: "mainP mainP"
                         "imagen1 imagen2"
                         "imagen3 imagen4"
                         "parrafo parrafo";
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.mainP{
    grid-area: mainP;
    text-align: center;
    font-size: 1.3rem;
}

.imagen1{
    grid-area: imagen1;
}

.imagen2{
    grid-area: imagen2;
}

.imagen3{
    grid-area: imagen3;
}

.imagen4{
    grid-area: imagen4;
}

.parrafo{
    grid-area: parrafo;
    text-align: center;
    font-size: 1.2rem;
}

/*estilos footer*/

footer{
    margin-top: 2rem;
}

footer p{
    text-align: center;
}


/* media queries */

@media screen and (min-width:600px){
    body{
        background-color: brown;
    }

    .sectionNosotros{
        display: block;
        grid-area: SectionNosotros;
    }

    .mainNosotros{
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 0.5fr 1fr 0.3fr 0.3fr;
        grid-template-areas: "mainP mainP mainP mainP"
                             "SectionNosotros SectionNosotros SectionNosotros SectionNosotros"
                             "imagen1 imagen2 imagen3 imagen4"
                             "parrafo parrafo parrafo parrafo";

    }
    
}

@media screen and (min-width:1024px){
    body{
        background-color: blue;
    }

    .header{
        display: flex;
        justify-content: space-around;
    }

    .mainNosotros{
        grid-template-rows: 0.5fr 1fr 0.3fr 0.3fr;
        grid-template-areas: "mainP mainP SectionNosotros SectionNosotros"
                             "imagen1 imagen2 imagen3 imagen4"
                             "parrafo parrafo parrafo parrafo";
        column-gap: 2rem;

    }
    
}